h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 1px;
}
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
  }

 .container {
    background: 	#ffd00785!important;
    box-sizing: border-box;
    width: 100%;
    margin-bottom:0rem!important;
  } 

  @media (min-width: 768px){
    .container{
      max-width:100%;
    }  
  }
  
  @media (min-width: 992px){
    .container{
      max-width:100%;
    }
  }

/*
  .container:hover {
    background: 	#ffd00785!important;
    box-sizing: border-box;
    width: 100%;
  } */

p {
    color: navy;
    text-indent: 30px;
    text-transform: uppercase;
  }
html {
     background: 	#ffd00785!important; 
     /* background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 12%, rgba(253,187,45,1) 80%);*/
}   
body {
    /*background-color: transparent;*/
    background: rgb(34,193,195); 
    background: linear-gradient(0deg, rgba(34,193,195,1) 12%, rgba(253,187,45,1) 80%);
    background-repeat : no-repeat;
}  
.bg-light {
    background-color: #ffd00785!important;
} 
.navbar {
    border-bottom: 2px  solid #000;
}